---
ip: "192.168.10.10"
memory: 2048
cpus: 1
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: /Users/obi/Documents/Projects/Homestead/sites
      to: /home/vagrant/sites

sites:
    - map: engine.local
      to: /home/vagrant/sites/engine
    - map: jobfetcher.local
      to: /home/vagrant/sites/jobfetcher
      php: "7.0"
    - map: the1966.local
      to: /home/vagrant/sites/the1966
      php: "7.0"
    - map: accounting.local
      to: /home/vagrant/sites/web/public
      php: "7.2"
    - map: phpbb.local
      to: /home/vagrant/sites/phpbb
      php: "7.2"
    - map: classifieds.local
      to: /home/vagrant/sites/classifieds
      php: "7.2"
    # - map: smf.local
    #   to: /home/vagrant/sites/smf
    #   php: "7.2"
    # - map: wp.local
    #   to: /home/vagrant/sites/wp
    #   php: "7.2"
    # - map: jenkins.local
    #   to: /home/vagrant/sites/Jenkins
    # - map: phplist.local
    #   to: /home/vagrant/sites/phplist/public_html/lists
    #   php: "7.1"
    # - map: magento.local
    #   to: /home/vagrant/sites/magento2/pub/
    #   php: "7.1.3"

databases:
    - homestead
    - accounting
    - jobfetcher

variables:
    - key: APP_ENV
      value: local
    - key: APP_KEY
      value: p7InVzZXJJsdfghbnBsdW1iIn1ezra
    - key: TOKEN_ALG
      value: HS256
    - key: DB_USER_N_PASS
      value: root
    - key: TRUE_VAR
      value: 'true'
    - key: FALSE_VAR
      value: 'false'

backup: true

minio: false
# changed paths to work for windows, the default would work for linux without the need to change paths
# add `192.168.10.10 incapsol.local` to windows host file C:\Windows\System32\drivers\etc\hosts
# install engine https://github.com/ /engine
